.parrafito{
    color: #4B5563;
    font-weight: bold;
}
.icono-x{
    font-size: 9em; 
    margin-bottom: 70px;
    color: #BF0404;
  }
  .icono-check {
    font-size: 9em; 
    margin-bottom: 70px;
    color:#011640
  }
  