
body {
  background: 
    conic-gradient(from 150deg at 50% 33%, #0000, #f2f0f2 .5deg 60deg, #0000 60.5deg) calc(32px/2) calc(32px/1.4),
    conic-gradient(from -30deg at 50% 66%, #0000, #ffffff .5deg 60deg, #ffffff 60.5deg);
  background-size: 32px calc(32px/1.154);
}

.imagen {
    margin-bottom: 10px;
  }
  
  .texto {
    font-size: 16px;
    font-weight: bold;
  }
  .img-grande {
    width: 500px;
    height: 700px;
  }  
  
  .titulo-personalizado {
    font-family: 'Inter', sans-serif; 
    font-size: 30px; 
    color: #1F2937; 
    font-weight: 700;
  }
  .texto-personalizado {
    font-family: 'Inter', sans-serif;  
    color: #4B5563; 

  }
  .btn-solicitudes {
    background-color: #2A2040; 
    color: #fff; 
  }
  
  .btn-solicitudes:hover {
    background-color: #2A2040; 
  }
  