@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");
@keyframes scale-up {
    0% {
      transform: scale(0.5);
    }
    to {
      transform: scale(1);
    }
  }
  @keyframes slide-in-top {
    0% {
      transform: translateY(-200px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  .line2 {
    width: 101px;
    position: relative;
    border-top: 1px solid #d1d5db;
    box-sizing: border-box;
    height: 1px;
  }
  .checkout4 {
    align-self: stretch;
    position: relative;
    line-height: 20px;
    font-weight: 600;
  }
  .checkout-frame {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 20px;
    color: #1f2937;
  }
  .input20,
  .label-here11 {
    font-weight: 500;
    align-self: stretch;
  }
  .label-here11 {
    position: relative;
    line-height: 12px;
  }
  .input20 {
    border: 1px solid #d1d5db;
    outline: 0;
    font-family: Inter;
    font-size: 14px;
    background-color: transparent;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 12px 16px;
    color: #1f2937;
  }
  .input20:hover {
    border: 1px solid #010a26;
    box-sizing: border-box;
  }
  .input20:focus {
    border: 1px solid #010a26;
    box-sizing: border-box;
  }
  .input19,
  .input24 {
    align-self: stretch;
    display: flex;
    justify-content: flex-start;
  }
  .input19 {
    border-radius: 6px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
  }
  .input24 {
    border-radius: 4px;
    background-color: transparent;
    border: 1px solid #d1d5db;
    flex-direction: row;
    align-items: center;
    padding: 12px 16px;
    font-family: Inter;
    font-weight: 500;
    font-size: 14px;
    color: #1f2937;
  }
  .input24:hover {
    border: 1px solid #010a26;
    box-sizing: border-box;
  }
  .input24:focus {
    border: 1px solid #010a26;
    box-sizing: border-box;
  }
  .billing-info2,
  .input-parent2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 24px;
  }
  .input-parent2 {
    align-self: stretch;
  }
  .billing-info2 {
    width: 706px;
    border-radius: 12px 12px 0 0;
    background-color: #fff;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25) inset;
    overflow: hidden;
    padding: 32px;
    box-sizing: border-box;
    opacity: 1;
    margin-top: -7px;
  }
  .billing-info2.animate {
    animation: 1s ease 0s 1 normal forwards scale-up;
  }
  .button-cta22 {
    position: relative;
    font-size: 16px;
    letter-spacing: -0.02em;
    line-height: 16px;
    font-weight: 500;
    font-family: Inter;
    color: #fff;
    text-align: center;
  }
  .button22 {
    cursor: pointer;
    border: 0;
    padding: 16px 20px;
    background-color: #050259;
    align-self: stretch;
    border-radius: 6px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .button22:hover {
    background-color: #010a26;
  }
  .checkout5,
  .contact-14 {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
  }
  .checkout5 {
    width: 706px;
    border-radius: 0 0 12px 12px;
    background-color: #f3f4f6;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 32px;
    opacity: 0;
    margin-top: -7px;
  }
  .checkout5.animate {
    animation: 1s ease 0s 1 normal forwards slide-in-top;
  }
  .contact-14 {
    min-width: 100%;
    min-height: 78.4vh;
    position: relative;
    background-color: #fff;
    align-items: center;
    justify-content: center;
    padding: 48px 80px;
    text-align: left;
    font-size: 14px;
    color: #4b5563;
    font-family: Inter;
  }
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Estilos específicos para el modal de agregar carrera */
  .add-carrera-modal .modal-content {
    background-color: #ffffff; /* Fondo blanco */
    padding: 20px;
    border-radius: 10px; /* Bordes más redondeados */
    max-width: 500px; /* Limita el ancho del modal */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra suave */
  }
  
  /* Estilos para el botón de cerrar */
  .add-carrera-modal .close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: #333; /* Color de texto más oscuro */
  }
  
  /* Estilos para el botón "Agregar" */
  .add-carrera-modal button {
    background-color:#050259 ;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 10px;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 150px;
    margin-right: 150px;
  }
  .error-message {
    color: red;
    font-size: 12px;
  }
  
  .input20.error-border,
  .input24.error-border {
    border-color: red;
  }
  @media screen and (max-width: 470px) {
    .input24 {
      align-self: stretch;
      width: auto;
      flex: 1;
    }
    .billing-info2 {
      display: flex;
      height: auto;
      gap: 10px 24px;
      align-items: center;
      justify-content: center;
      padding-left: 20px;
      padding-top: 32px;
      padding-right: 20px;
      box-sizing: border-box;
    }
    .billing-info2,
    .checkout5 {
      align-self: stretch;
      width: auto;
    }
    .contact-14 {
      padding-left: 40px;
      padding-right: 40px;
      box-sizing: border-box;
    }
  }
  .backon-button {
    position:absolute;
    top: 20px;
    background-color: #050259; /* Color de fondo similar al botón de registrar */
    color: #F2f2f2; /* Color de texto similar al botón de registrar */
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    z-index: 9999;
}

@media (min-width: 471px) {
  .backon-button {
      right: 35px;
       /* Ajusta el valor para pantallas normales */
  }.backon-button::before {
    content: "Atrás"; 
  }
}

/* Estilos para pantalla de celular */
@media (max-width: 470px) {
  .backon-button {
      right: 25px;
  }.backon-button::before {
    content: "<"; 
  }
}
  
  