@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

.contact-form-get-in-touch {
  width: 336.5px;
  height: 23.6px;
  position: relative;
  max-width: 100%;
}

.contact-form-lorem-ipsum-dolor-si {
  align-self: stretch;
  height: 39.5px;
  position: relative;
}

.contact-form-heading-text {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 46.5px 0 0;
  box-sizing: border-box;
  gap: 16px;
  max-width: 100%;
}

.contact-form-street-11-bloc {
  width: 165.4px;
  height: 38.6px;
  position: relative;
}

.contact-form-heading-details {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 24px;
  max-width: 100%;
}

.contact-form-view-job-openings {
  width: 110.8px;
  height: 14.7px;
  position: relative;
}

.contact-form-details,
.contact-form-details-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
  color: white;
}

.contact-form-details {
  align-self: stretch;
  border-radius: 6px;
  background-color: #011640;
  justify-content: center;
  padding: 142.3px 32px;
  gap: 48px;
}

.contact-form-details-wrapper {
  flex: 1;
  justify-content: flex-start;
  padding: 1.5px 0 0;
  min-width: 378px;
}

.contact-form-enter-details {
  font-size: 20px;
  line-height: 28px;
}

.contact-form-enter-details,
.contact-form-phone,
.contact-form-rectangle {
  align-self: stretch;
  position: relative;
}

.contact-form-phone {
  line-height: 16px;
}

.contact-form-rectangle {
  border: 1px solid #e5e7eb;
  outline: 0;
  background-color: #fff;
  height: 40px;
  border-radius: 4px;
  box-sizing: border-box;
  min-width: 250px;
}

.contact-form-rectangle:hover {
  border: 1px solid #011640;
  box-sizing: border-box;
}

.contact-form-rectangle:focus {
  border: 1px solid #011640;
  box-sizing: border-box;
}

.contact-form-phone-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 12px;
}

.contact-form-email,
.contact-form-full-name {
  flex: 1;
  position: relative;
  line-height: 16px;
  display: inline-block;
  min-width: 149px;
}

.contact-form-full-name-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 59px;
}

.contact-form-rectangle1,
.contact-form-rectangle2 {
  border: 1px solid #e5e7eb;
  outline: 0;
  background-color: #fff;
  height: 40px;
  flex: 1;
  position: relative;
  border-radius: 4px;
  box-sizing: border-box;
  min-width: 152px;
}

.contact-form-rectangle1:hover {
  border: 1px solid #011640;
  box-sizing: border-box;
}

.contact-form-rectangle1:focus {
  border: 1px solid #011640;
  box-sizing: border-box;
}

.contact-form-rectangle2:hover {
  border: 1px solid #011640;
  box-sizing: border-box;
}

.contact-form-rectangle2:focus {
  border: 1px solid #011640;
  box-sizing: border-box;
}

.contact-form-frame-parent,
.contact-form-rectangle-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 54.3px;
}

.contact-form-frame-parent {
  flex-direction: column;
  gap: 12px;
}

.contact-form-message,
.contact-form-rectangle3 {
  align-self: stretch;
  position: relative;
}

.contact-form-message {
  line-height: 16px;
}

.contact-form-rectangle3 {
  border: 1px solid #e5e7eb;
  outline: 0;
  background-color: #fff;
  height: 100px;
  border-radius: 4px;
  box-sizing: border-box;
  min-width: 250px;
}

.contact-form-rectangle3:hover {
  border: 1px solid #011640;
  box-sizing: border-box;
}

.contact-form-rectangle3:focus {
  border: 1px solid #011640;
  box-sizing: border-box;
}

.contact-form-message-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 12px;
}

.contact-form-button {
  position: relative;
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  font-family: Inter;
  color: #fff;
  text-align: left;
  display: inline-block;
  min-width: 48px;
}

.contact-form-cta-button {
  cursor: pointer;
  border: 0;
  padding: 12px 32px;
  background-color: #011640;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.contact-form-cta-button:hover {
  background-color: #334a73;
}

.contact-form-container,
.contact-form-content,
.contact-form-sub-heading-cta {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
}

.contact-form-sub-heading-cta {
  flex: 0.9064;
  border-radius: 6px;
  background-color: #fff;
  flex-direction: column;
  justify-content: flex-start;
  padding: 32px 22.5px 32px 32px;
  gap: 24px;
  min-width: 378px;
  max-width: 100%;
}

.contact-form-container,
.contact-form-content {
  flex-direction: row;
}

.contact-form-content {
  width: 1261px;
  border-radius: 6px;
  background-color: #f3f4f6;
  justify-content: flex-start;
  padding: 30.5px 32px;
  gap: 32px;
  max-width: 100%;
  text-align: left;
  font-size: 16px;
  color: #1f2937;
  font-family: Inter;
}

.contact-form-container {
  width: 100%;
  position: relative;
  background-color: #fff;
  justify-content: center;
  padding: 155px 20px;
  letter-spacing: normal;
}

@media screen and (max-width: 1050px) {
  .contact-form-details-wrapper,
  .contact-form-sub-heading-cta {
    flex: 1;
  }
  .contact-form-content {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 725px) {
  .contact-form-heading-text {
    padding-right: 23px;
    box-sizing: border-box;
  }
  .contact-form-details {
    gap: 24px 48px;
    padding-top: 92px;
    padding-bottom: 92px;
    box-sizing: border-box;
  }
  .contact-form-details-wrapper {
    min-width: 100%;
  }
  .contact-form-full-name-parent {
    flex-wrap: wrap;
    gap: 59px 29px;
  }
  .contact-form-rectangle-parent {
    flex-wrap: wrap;
    gap: 54.3px 27px;
  }
  .contact-form-sub-heading-cta {
    padding-top: 21px;
    padding-bottom: 21px;
    box-sizing: border-box;
    min-width: 100%;
  }
  .contact-form-content {
    gap: 32px 16px;
    padding-top: 20px;
    padding-bottom: 20px;
    box-sizing: border-box;
  }
}

@media screen and (max-width: 450px) {
  .contact-form-enter-details {
    font-size: 16px;
    line-height: 22px;
  }
}

.contenedor{
  width: 580px;
  height: 550px;
  background-color: #011640;
  padding: 20px;
}