.container {
    user-select: none;
  }
  input[type="text"] {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-right: 5px;
  }
  .butn {
    margin-left: 5px;
    margin-right: 5px;
    padding: 8px 15px;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
  }
  .butn .icon {
    margin-left: 5px; 
  }
  .butn-nuevo {
    background-color: #050259;
    border-color: #050259;
    text-decoration: none;
    padding: 9px 15px;
  }
  .butn-nuevo:hover {
    background-color: #011640;
    border-color: #011640;
    transform: translateY(-2px);
  }
  .butn-filtro {
    color: #28a745;
    border-width: 2px;
    border-color: #28a745; 
    background-color: transparent; 
    font-weight: 2px;
  }
  .butn-filtro:hover{
    color: #1f8036; 
    border-color: #1f8036;
    background-color: rgba(0, 255, 81, 0.1);
  }
  .butn-csv {
    background-color: #28a745;
    border-color: #28a745;
  }
  .butn-csv:hover {
    background-color: #1f8036;
    border-color: #1f8036;
    transform: translateY(-2px);
  }
  .butn-borrar {
    background-color: #dc3545;
    border-color: #dc3545;
  }
  .butn-borrar:hover {
    background-color: #bd2130;
    border-color: #bd2130;
    transform: translateY(-2px);
  }
  .table {
    width: 100%;
    border-collapse: none;
    margin-top: 40px;
    user-select: text;
  }
  .table thead th {
    border-top: none; 
    background-color: #F3F4F6;
    color: #1F2937;
    padding: 10px;
    border: none;
    text-align: center;
  }
  .table thead th:first-child {
    border-top-left-radius: 10px;
  }
  .table thead th:last-child {
    border-top-right-radius: 10px;
  }
  .table tbody td {
    border-top: 1px solid #dee2e6;
    border-bottom: 1px solid #dee2e6;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
  }
  .fila-lista:hover {
    background-color: #f8f9fa; 
    height: 70px;

  }
  .btn {
    margin-left: 5px;
    margin-right: 5px;
  }
  .btn-editar {
    color: #007bff;
    border-width: 2px;
    border-color: #007bff; 
    background-color: transparent; 
    font-weight: 2px;
  }
  .btn-editar:hover {
    color: #0056b3; 
    border-color: #0056b3;
    background-color: rgba(0, 123, 255, 0.1);
    transform: translateY(-2px); 
  }
  .btn-eliminar {
    color: #dc3545; 
    border-width: 2px;
    border-color: #dc3545; 
    background-color: transparent;
    font-weight: 2px;
  }
  .btn-eliminar:hover {
    color: #bd2130; 
    border-color: #bd2130; 
    background-color: rgba(220, 53, 69, 0.1); 
    transform: translateY(-2px);
  }
.iconos2{
  position: relative;
  top: -28px;
  justify-content: center;
}
.Advertencia{
  position: relative;
  top: 40%;
  left: 40%;
}