.navbar {
    background-color: #271d3b;
  }
.navbar-nav .nav-link {
   color: white;
   font-size: 20px;
   font-family: inherit;
}
.nav-link:hover {
    text-decoration: underline; 
 }
  
.usuario{
    color: white;
    font-size: 20px;

}
.nombre_empresa{
    display: flex;
    color: white;
    font-size: 30px;
    margin-left: 50px;
    margin-top: 10px;
}
  
  