/* Solicitar.css */

.contenedorGeneral {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 74vh;
  margin-top: 20px;
}

.contenedorsito {
  width: 80%;
  max-width: 600px; /* Ajusta este valor según tus necesidades */
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.calendario-container {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; /* Para alinear el botón y la fecha */
}

.label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}
.inputcalendario,
.select {
  width: 95%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}
.grupo-checkbox-container {
  display: flex;
  flex-wrap: wrap;
}

.grupo-checkbox-item {
  margin-right: 20px;
  margin-bottom: 10px;
}

.grupo-checkbox-item input[type="checkbox"] {
  margin-right: 5px;
}

.input,
.select,
.textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 14px;
}

.textarea {
  resize: vertical; /* Permite cambiar el tamaño verticalmente */
  min-height: 80px;
}

@media (max-width: 768px) {
  .contenedorsito {
    width: 90%;
  }
}

.container {
  padding: 20px;
}

.boton-siguiente {
  background-color: #011640;
  color: #f2f2f2;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s, font-size 0.3s;
  margin-top: 20px;
  display: block;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.boton-siguiente:hover {
  background-color: #0051a3;
  font-size: 17px;
}

.Aulas_Disponibles h2 {
  margin: 0;
}

.Aulas_Disponibles table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}

.Aulas_Disponibles th,
.Aulas_Disponibles td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.Aulas_Disponibles th {
  background-color: #f2f2f2;
}

.Aulas_Disponibles button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.Aulas_Disponibles button:hover {
  background-color: #45a049;
}

/* Estilos responsivos */
@media screen and (max-width: 768px) {
  .container {
    padding: 10px;
  }
  .boton-siguiente {
    margin-left: 80px;
  }
  
  .container table {
    font-size: 14px;
  }
  
  .container button {
    font-size: 14px;
  }
}
/* CustomCalendar.css */

.react-calendar {
  width: 250px;
  max-width: 100%;
  background: white;
  border: 1px solid #a0a096;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.react-calendar__tile {
  height: 30px; /* Ajusta la altura de las celdas */
}

.react-calendar__month-view__days__day--weekend {
  color: #d10000;
}

.react-calendar__tile--active {
  background: #006edc;
  color: white;
}

.react-calendar__tile--now {
  background: #ffff76;
}