.containerDoss {
  user-select: none;
}
.buscador {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-right: 5px;
}

.buscadox {
  display: flex;
  justify-content: flex-end; 
  align-items: center; 
  margin-top: 15px;
  margin-right: 5vw;
  padding-bottom: 5px;
}

.buscadoxe {
  display: flex;
  justify-content: flex-end; 
  align-items: center; 
  margin-top: 15px;
  margin-right: 5vw;
  padding-bottom: 5px;
  max-width: 100%;
  flex-wrap: wrap;
}

.buttonses {
  display: flex;
  justify-content: flex-end; 
  align-items: center; 
  margin-top: 10px;
  margin-right: 5vw;
}

.titulolistas{
  margin-left: 5vw;
  position: relative;
  top: 50px;
  margin-right: 30vw;
}

.butn {
  margin-left: 5px;
  margin-right: 5px;
  padding: 8px 15px;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
}
.butn .icon {
  margin-left: 5px; 
}
.butn-nuevo {
  background-color: #050259;
  border-color: #050259;
  text-decoration: none;
  padding: 9px 15px;
}
.butn-nuevo:hover {
  background-color: #011640;
  border-color: #011640;
  transform: translateY(-2px);
}
.butn-filtro {
  color: #28a745;
  border-width: 2px;
  border-color: #28a745; 
  background-color: transparent; 
  font-weight: 2px;
}
.butn-filtro:hover{
  color: #1f8036; 
  border-color: #1f8036;
  background-color: rgba(0, 255, 81, 0.1);
}
.butn-csv {
  background-color: #28a745;
  border-color: #28a745;
}
.butn-csv:hover {
  background-color: #1f8036;
  border-color: #1f8036;
  transform: translateY(-2px);
}
.butn-borrar {
  background-color: #dc3545;
  border-color: #dc3545;
}
.butn-borrar:hover {
  background-color: #bd2130;
  border-color: #bd2130;
  transform: translateY(-2px);
}
.table {
  width: 110%;
  border-collapse: none;
  margin-top: 40px;
  user-select: text;
}
.table thead th {
  border-top: none; 
  background-color: #F3F4F6;
  color: #1F2937;
  padding: 10px;
  border: none;
  text-align: center;
}
.table thead th:first-child {
  border-top-left-radius: 10px;
}
.table thead th:last-child {
  border-top-right-radius: 10px;
}
.table tbody td {
  border-top: 1px solid #dee2e6;
  border-bottom: 1px solid #dee2e6;
  padding: 10px;
  text-align: center;
  vertical-align: middle;
}
.fila-lista:hover {
  background-color: #f8f9fa; 
}
.btn {
  margin-left: 5px;
  margin-right: 5px;
}
.btn-editar {
  color: #007bff;
  border-width: 2px;
  border-color: #007bff; 
  background-color: transparent; 
  font-weight: 2px;
}
.btn-editar:hover {
  color: #0056b3; 
  border-color: #0056b3;
  background-color: rgba(0, 123, 255, 0.1);
  transform: translateY(-2px); 
}
.btn-eliminar {
  color: #dc3545; 
  border-width: 2px;
  border-color: #dc3545; 
  background-color: transparent;
  font-weight: 2px;
}
.btn-eliminar:hover {
  color: #bd2130; 
  border-color: #bd2130; 
  background-color: rgba(220, 53, 69, 0.1); 
  transform: translateY(-2px);
}

.Advertencia {
  background: #050259;
  color: rgb(255, 255, 255);
  position: fixed; 
  align-items: center;
  padding: 15px;
  width: 450px;
  top: 50%; 
  left: 50%; 
  z-index: 9999;
  border-radius: 5px;
  transform: translate(-50%, -50%);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9998;
}
.text {
  justify-content: center;
  margin-right: 60px;
  width: 300px;
}
.conf, .ref {
  margin-right: 50px;
  font-size: 20px;
  color: white;
  border-radius: 5px;
  width: 50px;
}
.conf {
  background-color: #28a745;
}
.ref {
  background-color: #bd2130;
}
.botonesx {
  display: flex;
  justify-content: center;
  width: 200px;
  margin-left: 140px;
}
.til1 {
  margin-left: 140px;
  width: 400px;
}
.til2 {
  margin-left: 40px;
  width: 350px;
  text-align: center;
}
.importaciones {
  position: fixed;
  align-content: center;
  margin-top: -30px; 
  width: 200px;
  height: 100px;
  margin-right: 15vw;
  top: 320px;  
}
.btnIm {
  position: relative;
  background-color: #136225;
  border-color: #136225;
  font-size: 12px;
  color: white;
  margin-right: 30px;
  width: 150px;
  height: 40px;
  border-radius: 5px;
}
.btnIm:hover {
  background-color: #1f8036;
  border-color: #1f8036;
  transform: translateY(-2px);
}

.tabla-contenedor {
  overflow-x: auto;
  margin-right: 5vw;
  margin-left: 5vw;
  margin-top: -10px;
}

.customFileUpload {
  padding: 7.5px 12px;
  cursor: pointer;
  border: 2px solid #28a745;
  color: #28a745; 
  background-color: transparent;
  border-radius: 6px;
  text-align: center;
}

.customFileUpload:hover { 
  background-color: rgba(0, 255, 81, 0.1);
  transform: translateY(-2px);
}

@media (max-width: 768px) {
  .butn-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 10px;
  }

  .butn {
    margin: 5px;
  }

  .tabla-contenedor {
    margin-right: 20px;
    margin-left: 20px;
  }

  .table {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .table th,
  .table td {
    padding: 5px;
  }
  .buscadox {
    margin-top: 65px;
  }
  .importaciones {
    top: 400px;
  }
  .titulolistas{
    margin-right: 0px;
  }
  .buscadoxe {
    margin-top: 65px;
  }
}