@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

.contact-form-get-in-touch {
  width: 336.5px;
  height: 23.6px;
  position: relative;
  max-width: 100%;
}


.docente-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 10px; /* Ajusta el margen inferior entre los docentes */
}

.docente-info {
  display: flex;
  flex-direction: column;
}

.docente-label {
  margin-right: 100px; /* Ajusta el margen derecho entre el nombre del docente y los grupos */
}

.grupo-checkbox-container {
  display: flex;
  align-items: center;
}

.grupo-label-wrapper {
  display: flex;
  align-items: center;
  width: 70px; 
}

.grupo-checkbox-list {
  display: flex;
  flex-wrap: wrap; 
}

.grupo-checkbox-item {
  margin-right: 30px; 
}

input[type="checkbox"] {
  margin-top: 10px;
}

.contact-form-lorem-ipsum-dolor-si {
  align-self: stretch;
  height: 39.5px;
  position: relative;
}

.contact-form-heading-text {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 46.5px 0 0;
  box-sizing: border-box;
  gap: 16px;
  max-width: 100%;
}

.contact-form-street-11-bloc {
  width: 165.4px;
  height: 38.6px;
  position: relative;
}

.contact-form-heading-details {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 24px;
  max-width: 100%;
}

.contact-form-view-job-openings {
  width: 110.8px;
  height: 14.7px;
  position: relative;
}

.contact-form-details,
.contact-form-details-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
  color: white;
}

.contact-form-details {
  align-self: stretch;
  border-radius: 6px;
  background-color: #011640;
  justify-content: center;
  padding: 142.3px 32px;
  gap: 48px;
}

.contact-form-details-wrapper {
  flex: 1;
  justify-content: flex-start;
  padding: 1.5px 0 0;
  min-width: 378px;
}

.reserva {
  font-size: 20px;
  line-height: 28px;
}

.reserva,
.subtitulo,
.campo {
  align-self: stretch;
  position: relative;
}

.subtitulo {
  line-height: 16px;
}

.campo {
  border: 1px solid #e5e7eb;
  outline: 0;
  background-color: #fff;
  height: 40px;
  border-radius: 4px;
  box-sizing: border-box;
  min-width: 250px;
}

.campo:hover {
  border: 1px solid #011640;
  box-sizing: border-box;
}

.campo:focus {
  border: 1px solid #011640;
  box-sizing: border-box;
}

.campo {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 12px;
}

.contact-form-frame-parent,
.contact-form-rectangle-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 54.3px;
}

.contact-form-frame-parent {
  flex-direction: column;
  gap: 12px;
}

.contact-form-message-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 12px;
}

.buttton {
  display: flex;
  justify-content: center; 
  align-items: center; 
  line-height: 16px;
  font-weight: 500;
  font-family: Inter;
  color: #fff;
  position: relative;
}

.buton {
  cursor: pointer;
  border: 0;
  background-color: #011640;
  border-radius: 4px;
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  width: 100px;
  height: 40px;
}



.buton:hover {
  background-color: #334a73;
}

.contenedorsito_sol,
.contact-form-content,
.titulo {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
}

.titulo {
  flex: 0.9064;
  border-radius: 6px;
  background-color: #fff;
  flex-direction: column;
  justify-content: flex-start;
  padding: 32px 22.5px 32px 32px;
  gap: 24px;
  min-width: 378px;
  max-width: 100%;
}

.contact-form-container,
.contact-form-content {
  flex-direction: row;
}

.contenedorsito_sol {
  width: 1261px;
  border-radius: 6px;
  background-color: #f3f4f6;
  justify-content: flex-start;
  padding: 30.5px 32px;
  gap: 32px;
  max-width: 100%;
  text-align: left;
  font-size: 16px;
  color: #1f2937;
  font-family: Inter;
}

.contenedorsito_sol {
  width: 100%;
  position: relative;
  background-color: #fff;
  justify-content: center;
  padding: 155px 20px;
  letter-spacing: normal;
}

@media screen and (max-width: 1050px) {
  .contact-form-details-wrapper,
  .titulo {
    flex: 1;
  }
  .contact-form-content {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 725px) {
  .titulo {
    padding-right: 23px;
    box-sizing: border-box;
  }
  .campo {
    gap: 24px 48px;
    padding-top: 92px;
    padding-bottom: 92px;
    box-sizing: border-box;
  }
  .contact-form-details-wrapper {
    min-width: 100%;
  }
  
  .campo-parent {
    flex-wrap: wrap;
    gap: 54.3px 27px;
  }
  .titulo {
    padding-top: 21px;
    padding-bottom: 21px;
    box-sizing: border-box;
    min-width: 100%;
  }
  .contact-form-content {
    gap: 32px 16px;
    padding-top: 20px;
    padding-bottom: 20px;
    box-sizing: border-box;
  }
}

@media screen and (max-width: 450px) {
  .reserva {
    font-size: 16px;
    line-height: 22px;
  }
}

.contenedora{
    width: 500px;
    height: auto;
    background-color: #334a73;
    margin: 20px; 
    border: 2px solid #334a73; 
    padding: 20px; 
  }