.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
  display: flex;
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
}

.formulario-emergente {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 800px; /* Ancho del formulario */
  max-width: 900px; /* Máximo ancho del formulario */
  overflow-y: auto; /* Habilita el scroll vertical si el contenido excede el tamaño del formulario */
}

.contedorForm {
  text-align: center;
}
.contact-form-sub-heading-cta {
  background-color: #e75555; /* Color de fondo */
  margin-bottom: 50px;
  padding: 1px; /* Espaciado interno */
  border-radius: 8px; /* Borde redondeado */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra */
}
.contenedor {
  width: 90%; /* Ancho del contenedor */
  max-width: 800px; /* Ancho máximo permitido */
  height: 80vh; /* Altura del contenedor */
  max-height: 80vh; /* Altura máxima del contenedor */
  margin: 0 auto; /* Centra el contenedor horizontalmente */
  overflow: auto; /* Habilita el scroll vertical si el contenido excede el tamaño del contenedor */
  display: flex; /* Usa flexbox para controlar el crecimiento horizontal */
  flex-direction: column; /* Asegura que los elementos dentro se alineen en columna */
}

/* Estilos adicionales para el contenido dentro del contenedor según sea necesario */

.tituloForm {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.dimensionForm {
  margin-bottom: 15px;
}
.label-here {
  margin-bottom: 5px;
  background-color: white; /* Color de fondo blanco para el contenedor */

}

.textoForm {
  width: 100%;
  padding: 8px;
  font-size: 1rem;
}





.contact-form-parent {
  margin-bottom: 10px;
}

.contact-form-rectangle {
  width: 10%;
  padding: 8px;
  font-size: 1rem;
  background-color: rgb(216, 49, 49); 

}
.contact-form-rectangle.fecha,
.contact-form-rectangle.hora {
  width: 100%; /* Ajusta el ancho según sea necesario */
  padding: 8px;
  font-size: 1rem;
  background-color: white; /* Color de fondo blanco */
}
