.container {
  user-select: none;
}
input[type="text"] {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-right: 5px;
}
.butn {
  margin-left: 5px;
  margin-right: 5px;
  padding: 8px 15px;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
}
.butn .icon {
  margin-left: 5px; 
}
.butn-nuevo {
  background-color: #050259;
  border-color: #050259;
  text-decoration: none;
  padding: 9px 15px;
}
.butn-nuevo:hover {
  background-color: #011640;
  border-color: #011640;
  transform: translateY(-2px);
}
.butn-filtro {
  color: #28a745;
  border-width: 2px;
  border-color: #28a745; 
  background-color: transparent; 
  font-weight: 2px;
}
.butn-filtro:hover{
  color: #1f8036; 
  border-color: #1f8036;
  background-color: rgba(0, 255, 81, 0.1);
}
.butn-csv {
  background-color: #28a745;
  border-color: #28a745;
}
.butn-csv:hover {
  background-color: #1f8036;
  border-color: #1f8036;
  transform: translateY(-2px);
}
.butn-borrar {
  background-color: #dc3545;
  border-color: #dc3545;
}
.butn-borrar:hover {
  background-color: #bd2130;
  border-color: #bd2130;
  transform: translateY(-2px);
}
.table {
  width: 100%;
  border-collapse: none;
  margin-top: 40px;
  user-select: text;
}
.table thead th {
  border-top: none; 
  background-color: #F3F4F6;
  color: #1F2937;
  padding: 10px;
  border: none;
  text-align: center;
}
.table thead th:first-child {
  border-top-left-radius: 10px;
}
.table thead th:last-child {
  border-top-right-radius: 10px;
}
.table tbody td {
  border-top: 1px solid #dee2e6;
  border-bottom: 1px solid #dee2e6;
  padding: 10px;
  text-align: center;
  vertical-align: middle;
}
.fila-lista:hover {
  background-color: #f8f9fa; 
  height: 70px;

}
.btn {
  margin-left: 5px;
  margin-right: 5px;
}
.btn-editar {
  color: #007bff;
  border-width: 2px;
  border-color: #007bff; 
  background-color: transparent; 
  font-weight: 2px;
}
.btn-editar:hover {
  color: #0056b3; 
  border-color: #0056b3;
  background-color: rgba(0, 123, 255, 0.1);
  transform: translateY(-2px); 
}
.btn-eliminar {
  color: #dc3545; 
  border-width: 2px;
  border-color: #dc3545; 
  background-color: transparent;
  font-weight: 2px;
}
.btn-eliminar:hover {
  color: #bd2130; 
  border-color: #bd2130; 
  background-color: rgba(220, 53, 69, 0.1); 
  transform: translateY(-2px);
}
.btn-sugerencia{
  color: #610de8; 
  border-width: 2px;
  border-color: #610de8; 
  background-color: transparent;
  font-weight: 2px;
}
.btn-sugerencia:hover{
  color: #610de8; 
  border-color: #610de8; 
  background-color: rgba(220, 53, 69, 0.1); 
  transform: translateY(-2px);
}


.iconos2{
position: relative;
top: -28px;
justify-content: center;
}
.contact-form-container {
display: flex;
justify-content: center;
padding: 155px 20px;
background-color: #fff;
}

.contenedor {
  position: relative;
width: 50%;
height:auto;
background-color: #011640;
padding: 20px;
}

.contact-form-sub-heading-cta {
background-color: #fff;
border-radius: 6px;
padding: 32px;
max-width: 100%;
}

.contact-form-enter-details {
font-size: 20px;
line-height: 28px;
}

.contact-form-phone-parent {
display: flex;
flex-direction: column;
gap: 12px;
}

.contact-form-phone {
line-height: 16px;
}

.contact-form-rectangle {
border: 1px solid #e5e7eb;
background-color: #fff;
height: 40px;
border-radius: 4px;
min-width: 250px;
}

.contact-form-rectangle:hover,
.contact-form-rectangle:focus {
border: 1px solid #011640;
}

.contact-form-cta-button {
cursor: pointer;
border: 0;
padding: 12px 32px;
background-color: #011640;
border-radius: 4px;
}

.contact-form-cta-button:hover {
background-color: #334a73;
}

/* VerSolicitud.css */

.input-group {
display: flex;
flex-wrap: wrap;
gap: 12px;
}

.input2 {
flex: 1;
display: flex;
flex-direction: column;
}

.label-here {
line-height: 16px;
}

.input12,
.input13,
.input14 {
border: 1px solid #e5e7eb;
background-color: #fff;
height: 40px;
border-radius: 4px;
min-width: 250px;
}

.input12:hover,
.input12:focus,
.input13:hover,
.input13:focus,
.input14:hover,
.input14:focus {
border: 1px solid #011640;
}

.input14 {
margin-top: auto; /* Alinea el campo "Capacidad" en la parte inferior del contenedor */
}

.label-here {
margin-bottom: 8px; /* Añade espacio entre la etiqueta y el campo de entrada */
}
/* VerSolicitud.css */

.overlay {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro semi-transparente */
z-index: 999; /* Asegura que el overlay esté por encima de otros elementos */
display: flex;
justify-content: center;
align-items: center;
}

.formulario-emergente {
  position: relative;
  width: 800px;
background-color: #fff;
padding: 10px;
border-radius: 8px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Sombra alrededor del formulario */
}

.tituloForm{
  color: white;
  font-size: 20px;
}
.dimensionForm,.textoForm{
  color: white;
}

